*{
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
}

body{
  background-image: url("background.jpg");
  background-size: 100%;
}

.container{
  background-color: rgba(0,0,0,0.5);
  border-radius: 10px;
  width: 900px;
  padding: 70px;
  margin: auto;
}

img{
  height: 100px;
  display: block;
  margin: auto;
}

h1{
  color: lime;
  text-align: center;
  margin: 0px;
}

nav{
  background-color: lime;
  height: 40px;
  padding: 7px;
}

.bottoni{
  text-align: center;
}

section{
  color: white;
  margin: 20px 0px;
}

h2{
  display: inline-block;
  margin: 0px;
}

section div {
  border-radius: 5px;
  height: 30px;
}

.stato-carica1{
  width: 40%;
  background-color: orange;
}

.stato-carica2{
  width: 70%;
  background-color: green;
}

.stato-carica3{
  width: 20%;
  background-color: red;
}
